<div sc-modal="formPrototipo.modal" class="sc-modal-xxl">
  <div class="sc-modal-header">
    <i ng-click="formPrototipo.fechar()" class="sc-modal-close sc-icon sc-icon-fechar-1 sc-cursor-pointer sc-text-gray sc-badge-hover-red"></i>
    <div class="align-center sc-label">
      <span ng-show="formPrototipo.params.id">Nova Tarefa</span>
      <span ng-hide="formPrototipo.params.id">Editar Tarefa</span>
    </div>
  </div>
  <div class="sc-modal-body">
    <div class="sc-p-md">
      <div>
        <div class="col-md-6 sc-p-b-md">
          <div class="sc-label">Nome</div>
          <input ng-model="formPrototipo.params.nome" ng-class="{'error':formPrototipo.errors.nome}" type="text" class="sc-input-default" style="width:100%"></input>
        </div>
        <div class="col-md-3 sc-p-b-md">
          <div class="sc-label">Categoria</div>
          <div class="sc-input-group">
            <select ng-model="formPrototipo.params.categoria.value" ng-class="{'error':formPrototipo.errors.categoria}" class="sc-input-default" style="width:100%">
              <option style="display: none"></option>
              <option ng-repeat="i in categorias" value="{{i.value}}" >{{i.label}}</option>
            </select>
            <button class="sc-btn sc-btn-blue" ng-click="typesConfigs.init('categoria')">
              <i class="sc-icon sc-icon-mais-1"></i>
            </button>
          </div>
        </div>
        <div class="col-md-3 sc-p-b-md">
          <div class="sc-label">Relevância</div>
          <select ng-model="formPrototipo.params.relevancia" ng-class="{'error':formPrototipo.errors.relevancia}" type="number" class="sc-input-default" style="width:100%">
            <option style="display: none"></option>
            <option ng-repeat= "i in relevancias" value="{{i.value}}">{{i.label}}</option>
          </select>
        </div>
        <div class="col-md-6 sc-p-b-md">
          <div class="sc-label">Link Mockup</div>
          <input ng-model="formPrototipo.params.mockup" ng-class="{'error':formPrototipo.errors.mockup}" type="text" class="sc-input-default" style="width:100%"></input>
        </div>
        <div class="col-md-6 sc-p-b-md">
          <div class="sc-label"> Link Protótipo</div>
          <input ng-model="formPrototipo.params.link" ng-class="{'error':formPrototipo.errors.link}" type="text" class="sc-input-default" style="width:100%"></input>
        </div>
        <div class="col-md-6 sc-p-b-md">
          <div class="sc-label">Etapa </div>
          <div class="sc-input-group">
            <select ng-model="formPrototipo.params.etapa.value" ng-class="{'error':formPrototipo.errors.etapa}" class="sc-input-default" style="width:100%">
              <option style="display: none"></option>
              <option ng-repeat="i in etapas" value="{{i.value}}">{{i.label}}</option>
            </select>
            <button class="sc-btn sc-btn-blue" ng-click="typesConfigs.init('etapa')">
              <i class="sc-icon sc-icon-mais-1"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 sc-p-b-md">
          <div class="sc-label">Status</div>
          <div class="sc-input-group">
            <select ng-model="formPrototipo.params.status.value" ng-class="{'error':formPrototipo.errors.status}" class="sc-input-default" style="width:100%">
              <option style="display: none"></option>
              <option ng-repeat="i in status" value="{{i.value}}">{{i.label}}</option>
            </select>
            <button class="sc-btn sc-btn-blue" ng-click="typesConfigs.init('status')">
              <i class="sc-icon sc-icon-mais-1"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 sc-p-b-md">
          <div class="sc-label">Analista </div>
          <select ng-model="formPrototipo.params.analista" ng-class="{'error':formPrototipo.errors.analista}" class="sc-input-default" style="width:100%">
            <option style="display: none"></option>
            <option ng-repeat="i in analistas" value="{{i.value}}">{{i.label}}</option>
          </select>
        </div>
        <div class="col-md-6 sc-p-b-md">
          <div class="sc-label">Deselvolvedor</div>
          <select ng-model="formPrototipo.params.desenvolvedor" ng-class="{'error':formPrototipo.errors.desenvolvedor}" class="sc-input-default" style="width:100%">
            <option style="display: none"></option>
            <option ng-repeat="i in desenvolvedores" value="{{i.value}}">{{i.label}}</option>
          </select>
        </div>
        <div class="clear"></div>
        <div class="col-md-12 sc-p-b-md">
          <div class="sc-label">Tarefas <button ng-click="formPrototipo.nova_tarefa()" class="sc-btn sc-btn-sm sc-btn-blue">Adicionar</button></div>
          <div class="flex" style="flex-wrap: wrap">
            <div ng-repeat="tarefa in formPrototipo.params.tarefas" class="col-md-3 sc-m-t-md flex" style="align-items: center">
              <input type="number" ng-model="tarefa.value" ng-class="{'error':formPrototipo.errors.tarefas}" class="sc-input-default" />
              <span ng-hide="$first && formPrototipo.params.tarefas.length == 1" class="sc-m-h-sm">
                <i ng-click="formPrototipo.apagar_tarefa($index)" class="sc-modal-close sc-icon sc-icon-lixeira-1 sc-cursor-pointer sc-text-red sc-badge-hover-red"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sc-modal-footer">
    <div>
      <!-- <button ng-click="formPrototipo.fechar()" class="sc-btn sc-m-h-md sc-btn-red">Cancelar</button> -->
      <button ng-hide="formPrototipo.params.id" ng-click="formPrototipo.criar()" class="sc-btn sc-m-h-md sc-btn-green">Salvar</button>
      <button ng-show="formPrototipo.params.id" ng-click="formPrototipo.update()" class="sc-btn sc-m-h-md sc-btn-green">Salvar</button>
    </div>
  </div>
</div>
