<section id="main-page" ng-init="init()">
  <section id="main-content">

    <section id="top-bar" class="sc-bg-gray-lighter">
      <section id="top-bar-content" class="sc-bg-gray-lighter">
        <div class="left">
          <div style="justify-content: space-between;" class="flex flex-center">
            <div class="flex flex-center">
              <div class="sc-p-l-lg sc-p-l-none">
                <button ng-click="formPrototipo.init_formulario()" class="sc-btn sc-btn-blue sc-btn-awesomeness">
                  <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
                  <div class="sc-btn-text">Adicionar</div>
                </button>
              </div>
              <div class="sc-p-l-lg">
                <form ng-submit="filtro.buscar()" class="sc-input-group">
                  <input ng-disabled="filtro.avancado.opened || filtro.busca_avancada || filtro.busca_simples" ng-model="filtro.params.q" class="sc-input-default" />
                  <button type="button" ng-hide="filtro.busca_avancada == null" class="sc-btn sc-btn-red" ng-click="filtro.clear()">
                    <i class="sc-icon sc-icon-fechar-1"></i>
                  </button>
                  <button type="submit" class="sc-btn sc-btn-blue">
                    <i class="sc-icon sc-icon-lupa-1"></i>
                  </button>
                  <button type="button" class="sc-btn" ng-class="{'sc-btn-gray':filtro.avancado.opened}" ng-click="filtro.avancado.toggle()" >
                    <i class="sc-icon sc-icon-filtro-2"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <section id="top-bar-filter" style="margin-top: 40px">
          <form ng-submit="filtro.buscar()" ng-show="filtro.avancado.opened" class="ng-animation-slider sc-p-lg">
            <div class="sc-align-bottom">
              <div class="col-md-3 sc-m-b-md">
                <label>
                  <div class="sc-label">Etapa</div>
                  <select  class="sc-input-default sc-input-block" ng-model="filtro.params.etapa">
                    <option value=""></option>
                    <option ng-repeat="i in etapas" value="{{i.value}}">{{i.label}}</option>
                  </select>
                </label>
              </div>
              <div class="col-md-4 sc-m-b-md">
                <label>
                  <div class="sc-label">Categoria</div>
                  <select  class="sc-input-default sc-input-block" ng-model="filtro.params.categoria">
                    <option value=""></option>
                    <option ng-repeat="i in categorias" value="{{i.value}}">{{i.label}}</option>
                  </select>
                </label>
              </div>
              <div class="col-md-3 sc-m-b-md">
                <label>
                  <div class="sc-label">Analista:</div>
                  <select  class="sc-input-default sc-input-block" ng-model="filtro.params.analista">
                    <option value=""></option>
                    <option ng-repeat="i in analistas" value="{{i.value}}">{{i.label}}</option>
                  </select>
                </label>
              </div>
              <div class="col-md-2 sc-m-b-md">
                <label>
                  <div class="sc-label">Relevância</div>
                  <select  class="sc-input-default sc-input-block" ng-model="filtro.params.relevancia">
                    <option value=""></option>
                    <option ng-repeat="i in relevancias" value="{{i.value}}">{{i.label}}</option>
                  </select>
                </label>
              </div>
              <div class="col-md-3 sc-m-b-md">
                <label>
                  <div class="sc-label">Status</div>
                  <select  class="sc-input-default sc-input-block" ng-model="filtro.params.status">
                    <option value=""></option>
                    <option ng-repeat="i in status" value="{{i.value}}">{{i.label}}</option>
                  </select>
                </label>
              </div>
              <div class="col-md-3 sc-m-b-md">
                <label>
                  <div class="sc-label">Desenvolvedor</div>
                  <select  class="sc-input-default" ng-model="filtro.params.desenvolvedor" style="width: 100%">]
                    <option value=""></option>
                    <option ng-repeat="i in desenvolvedores" value="{{i.value}}">{{i.label}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="clear"></div>
            <hr/>
            <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
              <button type="submit" class="sc-btn sc-btn-blue sc-btn-awesomeness">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-lupa-2"></i></div>
                <div class="sc-btn-text hidden-xs hidden-sm">Pesquisar</div>
              </button>
            </div>
          </form>
        </section>
      </section>
    </section>

    <section id="breadcrumb" class="sc-p-b-none"><a>Início </a><span> / Tarefas</span></section>

    <section id="corpo" >
      <section>
        <ul  class="sc-accordion sc-accordion-prototipos ng-isolate-scope" style="font-size: 0.9em">
          <li style="border-bottom: 1px solid rgb(218, 218, 218);">
            <div class="sc-accordion-head sc-acc-flex sc-text-blue">
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-0 align-center">
                <input ng-model="selections.allSelected" ng-click="selections.toggleSelectAll()" type="checkbox" class="sc-checkbox sc-checkbox-blue">
              </div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-1">Status</div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-2">Tarefas</div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-3">Etapa</div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-4">Relevância</div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-5">Categoria</div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-6 hidden-sm">Analista</div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-11"></div>
            </div>
            </hr>
          </li>

          <li ng-show="prototipos.any() && !carregando" ng-class="{ 'sc-acc-blue-dark':prototipo.acc.opened }" ng-init="initForm(prototipo)"
              ng-controller="Item::Ctrl" ng-repeat="prototipo in prototipos | orderBy: '-id'" style="border-bottom: 1px solid rgb(218, 218, 218);">
            <div class="sc-accordion-head sc-acc-flex sc-text-gray-sm" ng-click="toggleAcc(prototipo)">
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-0 align-center">
                <input ng-model="selections.allSelected" type="checkbox" class="sc-checkbox sc-checkbox-blue">
              </div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-1">
                <span class="sc-text-sm sc-border-radius sc-p-h-md sc-p-v-sm sc-text-white" ng-class="{'sc-bg-blue': prototipo.status.label == 'Aguardando',
                            'sc-bg-yellow': prototipo.status.label == 'Em Execução', 'sc-bg-green': prototipo.status.label == 'Concluído'}">
                  {{prototipo.status.label}}
                </span>
              </div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-2" ng-repeat="item in prototipo.tarefas | limitTo: 1">
                <span>{{item.value}}</span> <span ng-if="prototipo.tarefas.length > 1">....</span>
              </div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-3">{{prototipo.etapa.label}}</div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-4">
                <div class="sc-m-l-xxxl">
                  {{prototipo.relevancia}}
                </div>
              </div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-5">
                {{prototipo.categoria.label}}
              </div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-6 hidden-sm">
                {{prototipo.analista}}
              </div>
              <div style="width: 100%; font-size: 15px; margin-left: 20px" class="col-11">
                <div class="pull-right sc-m-r-xxl">
                  <label >
                    <span sc-dropdown-menu sc-stop-click="sc-stop-click" class="sc-dropdown pull-right">
                      <div ng-click="menu.toggle()">
                        <i ng-class="{'sc-badge-active':menu.isOn, 'sc-badge-hover-gray': !prototipo.acc.opened,'sc-badge-hover-white': prototipo.acc.opened }" class="sc-icon sc-icon-reticiencias-v"></i>
                      </div>
                      <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
                        <li ng-click="load_prototipo(); formPrototipo.init_form(prototipo)">
                          <span><i class="sc-icon sc-icon-lapis sc-text-yellow"></i> <span class="sc-m-h-xxxl">Editar</span></span>
                        </li>
                        <li ng-click="formPrototipo.deletarAlert(prototipo)">
                          <span><i class="sc-icon sc-icon-lixeira-1 sc-text-red"></i> <span class="sc-m-h-xxxl">Excluir</span></span>
                        </li>
                        <li>
                          <span><i class="sc-icon sc-icon-historico sc-text-blue"></i> <span class="sc-m-h-xxxl">Historico</span></span>
                        </li>
                      </ul>
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div ng-if="prototipo.acc.opened" class="sc-accordion-body ng-animation-slider">
              <div ng-if="!prototipo.carregando && prototipo.carregado" ng-include="templates.prototipos.item"></div>
              <div ng-if="prototipo.carregando">
                <div class="sc-accordion-elastic-col sc-p-v-md align-center sc-text-blue">
                  <i class="sc-icon sc-icon-carregando-2 sc-icon-spin"></i>
                  Carregando...
                </div>
              </div>
            </div>
          </li>
          <li ng-show="!prototipos.any() && carregando">
            <div class="sc-p-v-md align-center sc-text-blue">
              <i class="sc-icon sc-icon-carregando-2 sc-icon-spin"></i>
              Carregando...
            </div>
          </li>
          <li ng-show="!prototipos.any() && !carregando">
            <div class="sc-p-v-md align-center sc-text-gray">
              <i class="sc-icon sc-icon-exclamacao-3"></i>
              Não possui nenhum prototipo!
            </div>
          </li>
        </ul>
      </section>
    </section>
  </section>
</section>

<div ng-include="templates.prototipos.form"></div>
<div ng-include="templates.prototipos.types_configs"></div>

<!-- Loagding Page-->
<!-- <div sc-loading show-on="carregando" block-screen="true"></div> -->

<!-- scTopMessages-->
<div ng-click="scTopMessages.close()" ng-cloak="" ng-show="scTopMessages.toggler.opened" class="sc-cursor-pointer sc-top-messages ng-cloak ng-animation-slider">
  <div class="sc-text-white align-center sc-text-shadow-dark flex align-items-center {{scTopMessages.theme}}">
    <div class="sc-top-messages-msgs">
      <p ng-repeat="msg in scTopMessages.messages track by $index">{{msg}}</p>
    </div>
    <div class="sc-top-messages-close-button"><i class="sc-icon sc-icon-fechar-1 sc-cursor-pointer"></i></div>
  </div>
</div>

<!-- scAlert-->
<div ng-cloak="" ng-show="scAlert.toggler.opened" ng-class="{'active': scAlert.toggler.opened}" class="sc-alert ng-cloak">
  <div class="sc-alert-box">
    <h2 class="sc-alert-title">{{scAlert.title}}</h2>
    <div ng-show="scAlert.messages.length" class="sc-alert-messages">
      <p ng-repeat="msg in scAlert.messages track by $index">{{msg}}</p>
    </div>
    <div class="sc-alert-buttons">
      <button ng-repeat="btn in scAlert.buttons" ng-click="scAlert.btnAction(btn)" type="button" class="sc-btn sc-btn-block-only-xs sc-btn-{{btn.color}}">{{btn.label}}</button>
    </div>
  </div>
</div>
