<div class="sc-p-md">
  <div class="sc-fieldset flex flex-wrap">
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Nome:</spam>
      <span class="sc-text-blue sc-p-l-md">{{prototipo.nome}}</span>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Tarefas:</spam>
      <span class="sc-text-blue sc-p-l-md" ng-repeat="tarefa in prototipo.tarefas">{{tarefa.value}} <span ng-if="!$last">,</span></span>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Categoria:</spam>
      <span class="sc-text-blue sc-p-l-md">{{prototipo.categoria.label}}</span>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Relevância:</spam>
      <span class="sc-text-blue sc-p-l-md">{{prototipo.relevancia}}</span>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Link Mockup:</spam>
      <a href="{{prototipo.mockup}}" class="sc-text-blue sc-p-l-md">{{prototipo.mockup}}</a>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Link Protótipo:</spam>
      <a href="{{prototipo.link}}" class="sc-text-blue sc-p-l-md">{{prototipo.link}}</a>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray"> Etapa:</spam>
      <span class="sc-text-blue sc-p-l-md">{{prototipo.etapa.label}}</span>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Analista:</spam>
      <span class="sc-text-blue sc-p-l-md">{{prototipo.analista}}</span>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-text-gray">Desenvolvedor:</spam>
      <span class="sc-text-blue sc-p-l-md">{{prototipo.desenvolvedor}}</span>
    </div>
  </div>
  <div class="sc-fieldset flex flex-wrap">
    <div class="col-md-12 sc-p-b-md">
      <div>
        <span class="sc-label">Nome do Usuário:</span>
        <input ng-model="comentario.nome" ng-class="{'error':mensagemError}" type="text" class="sc-m-l-md sc-input-default"/>
      </div>
      <span class="sc-label">Comentário:</span>
      <div class="sc-p-t-md">
        <textarea ng-model="comentario.mensagem" class="sc-input-default" rows="4" style="width:100%" ng-class="{'error':mensagemError}"></textarea>
        <p class="pull-left sc-text-red" ng-show="mensagemError">
          <span class="sc-p-r-md">
            <i class="sc-icon sc-icon-exclamacao-3"></i>
          </span>
          Os campos "Nome" e "Comentário" não podem ser vazio!
        </p>
        <button class="sc-btn sc-btn-blue sc-btn-awesomeness pull-right sc-m-t-md" ng-click="objComentario.enviarComentario(comentario)">
          <div class="sc-btn-icon">
            <i class="sc-icon sc-icon-comentarios"></i>
          </div>
          <div class="sc-btn-text">Enviar Comentário</div>
        </button>
      </div>
    </div>
    <div class="col-md-12 sc-p-b-md">
      <span class="sc-p-r-sm sc-p-t-sm"><i class=" sc-text-xxl sc-icon sc-label sc-icon-comentarios"></i></span>
      <span class="sc-label">Comentários</span>
      <div class="sc-fieldset" ng-repeat="i in prototipo.comentarios">
        <div class="pull-right" ng-click="objComentario.deletarComentario(i)"><i class="sc-badge-hover-red sc-icon sc-icon-lixeira-1"></i></div>
        <div style="display:flex" class="sc-p-b-md">
          <div class="sc-border-gray-dark-solid-md sc-border-radius" style="width:28px">
            <i class="sc-text-xxl sc-text-black sc-icon-homem-1 sc-icon"></i>
          </div>
          <div class="sc-p-l-md">
            <span class="sc-text-gray"> {{i.nome}}</span>
          </div>
        </div>
        <div class="sc-text-gray"> {{i.mensagem}}</div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
