<div sc-modal="typesConfigs.modal" class="sc-modal-lg">
  <div class="sc-modal-header">
    <i ng-click="typesConfigs.fechar()" class="sc-modal-close sc-icon sc-icon-fechar-1 sc-cursor-pointer sc-text-gray sc-badge-hover-red"></i>
    <div class="align-center sc-label" style="text-transform: capitalize;">{{typesConfigs.type}}</div>
  </div>
  <div class="sc-modal-body">
    <div class="sc-input-group">
      <input ng-model="typesConfigs.params.label" type="text" class="sc-input-default" ng-class="{'error': formConfig.config.error}" />
      <button ng-hide="typesConfigs.params.id" type="button" class="sc-btn sc-btn-blue" ng-click="typesConfigs.salvar()" style="border-bottom-right-radius: 0.3em;border-top-right-radius: 0.3em;">
        <i class="sc-icon-mais-1"></i>
      </button>
      <button ng-show="typesConfigs.params.id" class="sc-btn sc-btn-green" type="button" ng-click="typesConfigs.update()">
        <i class="sc-icon sc-icon-visto-1"></i>
      </button>
      <button ng-show="typesConfigs.params.id" class="sc-btn sc-btn-red" type="button" ng-click="typesConfigs.cancelar()">
        <i class="sc-icon sc-icon-fechar-1"></i>
      </button>
    </div>
    <ul class="sc-accordion sc-m-v-lg sc-scrollbar" style="overflow: auto; max-height: 25em;">
      <li ng-if="!typesConfigs.carregando && typesConfigs.list.any()" ng-repeat="item in typesConfigs.list" style="border-bottom: 1px solid rgb(218, 218, 218);">
        <div class="sc-accordion-head pull-left sc-acc-flex sc-text-gray-sm" ng-class="{'sc-border-b-gray-light-dotted': !$last}">
          <div ng-click="typesConfigs.select(item)" class="col-md-3 sc-cursor-pointer" style="width: 244px; height: 37px">{{item.label}}</div>
          <div class="pull-right sc-m-r-xxl">
            <label>
              <i class="sc-badge-hover-yellow sc-icon sc-icon-lapis" ng-click="typesConfigs.editar(item)"></i>
              <i class="sc-icon sc-badge-hover-red sc-icon-lixeira-1" ng-click="typesConfigs.deletarAlert(item)"></i>
            </label>
          </div>
        </div>
      </li>
      <li ng-show="typesConfigs.carregando">
        <div class="sc-p-v-md align-center sc-text-blue">
          <i class="sc-icon sc-icon-carregando-2 sc-icon-spin"></i>
          Carregando...
        </div>
      </li>
      <li ng-show="!typesConfigs.carregando && !typesConfigs.list.any()">
        <div class="sc-p-v-md align-center sc-text-gray">
          <i class="sc-icon sc-icon-exclamacao-3"></i>
          Não possui nenhum(a) {{typesConfigs.type}}!
        </div>
      </li>
      <!-- <li ng-show="typesConfigs.errors">
        <div class="sc-p-v-md align-center sc-text-gray">
          <i class="sc-icon sc-icon-exclamacao-3"></i>
          Não possui nenhum(a) {{typesConfigs.errors}}!
        </div>
      </li> -->
    </ul>
  </div>
</div>
