<!DOCTYPE html>
<html lang="pt-br" ng-app="PrototypeSc" ng-controller="PrototypeSc::Ctrl">
  <head>
    <title>CRUD</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <base href="/"></base>
  </head>
  <body ng-controller="Prototype::IndexCtrl">
    <header id="header-bar" class="flex align-items-center">
      <div class="logo"><a href="//seucondominio.com.br" target="_blank"><%= image_tag 'logo-seucondominio.svg' %></a></div>
    </header>

    <div>
      <div class="ng-view"></div>
    </div>
  </body>
</html>
